

.chatroomList{
	width: 100%;
}

.roomNames {
	display:block;
	font-size: 18px;
	padding-top:6px;
	padding-bottom:6px;
	padding-left:6px;
	cursor: pointer;

}

.roomNames:first-child {

}

.login-block{
	padding-top: 30px;
    padding-bottom: 30px;
}

.nameEntry {
	margin-top:10px;
}

.blocChatTitle {
	display:block;
	font-size: 32px;
}

.roomNames{
	flex-grow: 1;
}


.showEdit {
	display:block;
}

.hideMsg {
	display:none;
}

.showMsg {
	display:block;
}

.hideEdit {
	display:block;
}

.roomControls {
	display: block;
	text-align: right;
	padding-left:0px;
}

.roomRow {
	padding: 5px 0 5px 0;
	margin-left: 0px;
}

.roomButtons {
	padding-left:3px;
}

.roomMsgIcons {
	color: #333;
	font-size:18px;
	padding-left:0px;
}

.activeRoomRow {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#16befd+0,0071f3+100 */
	background: rgb(22,190,253); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(22,190,253,1) 0%, rgba(0,113,243,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(22,190,253,1) 0%,rgba(0,113,243,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(22,190,253,1) 0%,rgba(0,113,243,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#16befd', endColorstr='#0071f3',GradientType=0 ); /* IE6-9 */
	width: 100%;
	color:white;
}

.activeRoomRow .roomMsgIcons {
	color:white !important;	
}

.roomRow {
	width: 100%;
}

.newRoomForm {
	margin-top: 24px;
}