.rooms {
	padding: 10px !important;
}

.chatroomList{
	padding:20px;
}

.roomNames {
	display:block;
	font-size: 18px;
	padding-top:6px;
	padding-bottom:6px;
	padding-left:6px;
	cursor: pointer;

}

.roomNames:first-child {

}

.nameEntry {
	margin-top:10px;
}

.blocChatTitle {
	display:block;
	font-size: 32px;
}

.roomNames{
	flex-grow: 1;
}


.showEdit {
	display:block;
}

.hideMsg {
	display:none;
}

.showMsg {
	display:block;
}

.hideEdit {
	display:block;
}

.roomControls {
	display: block;
	text-align: right;
	padding-left:0px;
}

.roomRow {
	padding: 5px 0 5px 0;
}

.roomButtons {
	padding-left:3px;
}

.roomMsgIcons {
	color: #333;
	font-size:18px;
	padding-left:0px;
}

.activeRoomRow {
	background-color: #d6d6d7;
}

.roomRow {
	
}

.newRoomForm {
	margin-top: 24px;
}