.rooms {
	padding: 10px !important;
}

.roomNames {
	display:block;
	font-size: 18px;
	padding-top:6px;
	padding-bottom:6px;
	padding-left:6px;
	cursor: pointer;

}

.roomNames:first-child {

}

.nameEntry {
	margin-top:10px;
}

.blocChatTitle {
	display:block;
	font-size: 32px;
}

.blocChatRooms {
	display:block;
	font-size: 24px;
	margin-top:24px;
	margin-bottom:10px;

}



.showEdit {
	display:block;
}

.hideMsg {
	display:none;
}

.showMsg {]
	display:block;
}

.hideEdit {
	display:block;
}

.roomControls {
	display: block;
	text-align: right;
	padding-left:0px;
}

.roomRow {
	padding: 5px 0 5px 0;
}

.roomButtons {
	padding-left:3px;
}

.roomMsgIcons {
	color: #333;
	font-size:18px;
	padding-left:0px;
}

.activeRoomRow {
	background-color: #d6d6d7;
}

.roomRow {
	
}

.newRoomForm {
	margin-top: 24px;
}