@font-face {
	font-family: "sofia-pro-semibold"; 
	src: url('../assets/fonts/SofiaProSemiBold.otf');
  } 
  
  @font-face {
	font-family: "sofia-pro-medium"; 
	src: url('../assets/fonts/SofiaProMedium.otf');
  } 
   
  
  body {
	  font-family: "sofia-pro-medium";
   
	}

.signinButton {

}

.username {
	margin-right:10px;
}

.header-logo {
	height: 50px;
}

.g-signin{
	height: 46px;
}